<form class="center" [formGroup]="loginForm">
<app-header></app-header>
  <mat-card>
    <div>
      <mat-form-field>
        <input matInput placeholder="username" formControlName="userName" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="password" formControlName="password" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="reenter password" formControlName="reenterpassword" required>
      </mat-form-field>
    </div>
  </mat-card>
</form>
