<form class="center" [formGroup]="loginForm" (ngSubmit)="emitLoginInfo()">
  <app-header></app-header>
  <mat-card>
    <div>
      <mat-form-field>
        <input matInput placeholder="username" formControlName="userName"> 
        <mat-error>Please enter valid username</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password">
        <mat-error *ngIf="!loginForm.get('password').valid">Password should be between 4 and 17 characters</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="reenter password" formControlName="reenterpassword">
        <mat-error>Please re-enter valid password</mat-error>
      </mat-form-field>
    </div>  
    <div>
      <button mat-button class="button" [disabled]="loginForm.invalid">Login</button>
    </div>
  </mat-card>
</form>
